* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
::selection {
    color: teal;
    background: #edd564;
  }

body {
    display: grid;
    margin: 0;
}

header {
    /* background-color: #333; */
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.hero {
    background-image: url("../Image/Back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* filter: blur(5px); */
    color: white;
    text-align: center;
}

.hero_text{
    text-align: center;
}
.hero_head_text {
    color: teal;
    font-size: 5rem;
    margin-top: 10rem;
}

.hero_p_text {
    color: #edd564;
    font-size: 3rem;
    margin-top: 5rem;
    font-weight: bold;
}
.search_btn{
    background-color: rgba(0, 128, 128, 0.727);
    color: #fff;
    border-radius: 20%;
    padding: 0.4rem;
}
.search_btn:hover{
    background-color: #fff;
    border: 2px solid teal;
    color: teal;
}

/* Responsive Styling */
@media screen and (max-width: 425px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-top: 10px;
    }

    li {
        display: block;
        margin: 10px 0;
    }
    
    .hero_head_text {
        color: #3a0080;
        font-size: 3rem;
        margin-top: 1rem;
    }

    .hero_p_text {
        color: #67ed64;
        font-size: 2.5rem;
        margin-top: 1.5rem;
        font-weight: bold;
    }
    .hero_text{
        padding: 0 30px;
    }
}